# dependencies
node_modules/

# bun
.bun
bun.lock

# testing
coverage/

# next.js
.next/
out/

# sanity studio
.sanity/

# builds
build/
dist/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
bun-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

# storybook
storybook-static/
*.storybook.log
