@import "tailwindcss";

:root {
  --page-dark: #1b1b1b;
  --background: hsl(200, 100%, 50%);
  --foreground: #fff;
  --page-background: #fefffa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-page-background: var(--page-background);

  --font-heading: var(--font-bowlby);
  --font-sans: var(--font-sans);
}

html {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(--page-background);
}
