@import "tailwindcss";

:root {
  --page-dark: #1b1b1b;
  --background: hsl(200, 100%, 50%);
  --foreground: #fff;
  --foreground-contrast: #000;
  --page-background: #fefffa;

  --page-padding-sm: 1rem;
  --page-padding-md: 1.5rem;
  --page-padding-lg: 2rem;

  --page-max-w: 80ch;

  --header-height: 180px;

  --container-max: 1440px;

  /* horizontal padding */
  --container-padding-sm: 1rem; /* 16px */
  --container-padding-md: 2rem; /* 32px */
  --container-padding-lg: 4rem; /* 64px */

  /* vertical rhythm */
  --space-section-sm: 2rem;
  --space-section-md: 4rem;
  --space-section-lg: 6rem;
}

@theme inline {
  --footer-height: 474px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-page-background: var(--page-background);

  --font-heading: var(--font-bowlby);
  --font-sans: var(--font-sans);

  --max-w-container: var(--container-max);

  --spacing-container-sm: var(--container-padding-sm);
  --spacing-container-md: var(--container-padding-md);
  --spacing-container-lg: var(--container-padding-lg);

  --spacing-section-sm: var(--space-section-sm);
  --spacing-section-md: var(--space-section-md);
  --spacing-section-lg: var(--space-section-lg);
}

html {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  /* TODO: Home only (ThemePicker) */
  /* background-color: var(--background); */
  /* color: var(--foreground); */
}

html.theme-loading #page-content {
  visibility: hidden;
  opacity: 0;
}

#page-content {
  opacity: 0;
  transition:
    opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

html:not(.theme-loading) #page-content {
  visibility: visible;
  opacity: 1;
}
